body {
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 0 48px;
    margin-bottom: ;
}

.logo {
    display: flex;
    height: 48px;
    width: 48px;
}

.title {
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 48px; 
    
}

.description {
    color: white;
    display: flex;
    
}

button {
    background: blue;
    color: white;
    display: flex;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.left {
    
}

ul.links {
    list-style: none;
    color: white;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: auto;
}

.pic {
    display: flex;
    height: 125px;
    width: 100%;
}

.right {
    margin-left: auto;

}
